.page {
	height: auto;
	width: auto;
	background-color: 4a6274;
}
p {
	color: white;
}
body {
	background-color: 4a6274;
}
h1 {
	color: white;
}
h2 {
	color: white;
}
h3 {
	color: white;
}

li {
	color: white;
}

a {
	color:white;
}

.navigation {
	
	height: 10%;
	width: auto;
	background-color: 4a6274;
	position: relative;
	
}
.navigation ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4a6274;
}

.navigation li {
  float: left;
  
}
.navigation li a {
	  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navigation li a:hover{
	background-color: #79Aeb2;
}
.footer ul {
	list-style-type: none;
	text-align: center;
}
.footer li {
	display: inline;
	padding: 40px;
}

.container p {
	position:relative;
	left: 10px;
}

form {
	position:relative;
	left: 10px;
	

}
ul {
	list-style-type: none;
}


.header {
	height: 25%;
	width: auto;
	background-color: 79Aeb2;
	position: relative;
	text-align:center;
}

.container {
	height: 30%;
	width: auto;
	background-color: 79Aeb2;
	position: relative;
}
.block {
    display: inline-block;
    width: 200px;
    height: 220px;
    background-color: 79Aeb2;
}
.roles  {
    text-align: center;
	height:auto;
}

.block img {
 width: 200px;
 height: 220px;
}
a:link {
  text-decoration: none;
  color:white;
}

a:visited {
  text-decoration: none;
  color:white;
}

a:hover {
  text-decoration: underline;
  color: white;
}

a:active {
  text-decoration: underline;
  color:white;
}
.OtaYhteytta {
	height: auto;
	width: auto;
	background-color: 79Aeb2;
	position: relative;
}
.footer {
	height: auto;
	width: auto;
	background-color: 4a6274;
	position: relative;
}

.footer p {
	position: relative;
	left: 10px;
	font-size: 13;
	
}
.footer a {
	font-size: 13;
	color: white;
}